/* #quote-box {
  width: 400px;
  height: 300px;
  background: mistyrose;
  padding: 20px;
}
#text {
  width: 100%;
  height: 200px;
}
#author {
  width: 100%;
  height: 50px;
}
.bottomArea {
  width: 100%;
  height: 50px;
} */
